<div class="word__wrapper">
  <% if @words.present?%>
    <%= render partial: 'word', collection: @words %>
  <% else%>
    <div class="word">
      <div class="word-top">
      <%= link_to "カッキー", "#", class: :word__user %>
        <div class="word__time">
          5日12時30分
        </div>
      </div>
      <%= image_tag "pexels-omar-ramadan-6507965.jpg", class: :word_fake %> 
      <%= link_to "キック", "#", class: :word__title%>
      <p class="word__summary">踏み込む足をきちんとボールの横におくことでボールをきちんとあてることを意識した。結果,ボールの芯に足の甲があたり勢いよくゴールに飛んでいった。</p>
    </div>
  <% end %>
</div>