<div class="form__wrapper">
  <h2 class="field_label">アウトプット 編集</h2>
    <%= render partial: "edit-form", locals: { word: @word } %>
  </div>
<div class="home_icon">
  <a href="/words"><i class="fa fa-home fa-5x"></i></a>
</div>