<header>
  <div class="inner">
    <div class="nav">
      FootBall × Visualizasion
    </div>
  </div>
</div>
</header>
<main>
  <div class="side-bar">
    <%= render "side_bar"%>
  </div>
  <div class="main-bar">
    <%= render "main_bar"%>
  </div>
</main>
<div class="home_icon">
  <a href="/words/new"><i class="fa fa-home fa-6x"></i></a>
</div>
  <% if user_signed_in? %>
  <div class="new_icon">
    <a href="/words/new"><i class="fas fa-camera fa-6x"></i></a>
  </div>
  <% end %>