<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">言語化して投稿</h2>
        <%= render partial: "new-form", locals: { word: @word } %>
    </div>
  </div>
</div>